<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Setup Players</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex flex-col justify-center items-center h-full w-full max-w-md mx-auto">
    <!-- Full-width select -->
    <ion-item
      button
      class="w-full"
      (click)="playerSelect.open()"
    >
      <ion-label slot="start">Number of Players</ion-label>
      <ion-select
        #playerSelect
        slot="end"
        interface="popover"
        [(ngModel)]="numPlayers"
        (ionChange)="syncPlayerNames()"
      >
        <ion-select-option *ngFor="let n of playerOptions" [value]="n">{{ n }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Player inputs -->
    <ion-list class="w-full">
      @for (name of playerNames; track $index) {
        <ion-item class="w-full">
          <ion-label position="stacked">Player {{ $index + 1 }} Name</ion-label>
          <ion-input [(ngModel)]="playerNames[$index]" placeholder="Enter name"></ion-input>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>

<!-- Fixed bottom button -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="startGame()">Start Game</ion-button>
  </ion-toolbar>
</ion-footer>
