<ion-header>
  <ion-toolbar>
    <ion-title>New Round</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-radio-group [(ngModel)]="winner">
      <ion-item 
      
        (click)="winner = player"
      *ngFor="let player of players">
        <ion-label>{{ player }}</ion-label>
        <ion-radio slot="start" [value]="player"></ion-radio>

        <ion-input
          (click)="$event.stopPropagation()"
          type="number"
          inputmode="numeric"
          placeholder="Score"
          [(ngModel)]="scores[player]"
          [disabled]="winner === player"
          class="ion-text-end"
        ></ion-input>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="saveRound()">Save Round</ion-button>
  </ion-toolbar>
</ion-footer>
